@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    color: #f9ae86;
    font-family: 'ADLaM Display', cursive;
}
.container{
    height: 100vh;
    overflow-x: hidden;
    overflow-y:visible  ;
    perspective: 10px;
}
.parallex-effect-div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    height: 110%;
    z-index: -2;
}
.background,.foreground,.foreground-p{
    position: absolute;
    transform: translateZ(-30px) scale(2);
    width: 100%;
    height: 100%;
}
.background{
    object-fit:fit;
    transform: translateZ(-60px) scale(7.1);
    
}
.foreground{
    top: 10rem;
    left: 80rem;

}
.foreground-p{
    
    left: -50rem;
    top: -25rem;
 
}
.section-heading{
    color: #ef7c3d;
    margin-top:5rem;
    text-align: center;
}
.main-image-heading{
    position:absolute;
    top: 30rem;
    left: 50;
    font-size: 10rem;
    color: #ff5900;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    transform: translateZ(-4px) scale(1);
    letter-spacing: 4px;
    z-index: 1;
}

.text-contain{
    background: black;
    color: white;
    padding:5rem 0;
 }
.section-heading{
    font-size: 5rem;
    padding: 0 10rem;
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height:700px ;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1{
    background-image: url(./Media/img1.jpg);
}
.bg2{
    background-image: url(./Media/pic2.jpg);
}
.bg3{
    background-image: url(./Media/planetimg1.jpg);
}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}
.desc{
    position:absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    color: black;
    font-size: 3.5rem;
    border-radius: 1rem;
}
.contact-us-form{
    flex-grow: 1.5;
}
.contact-heading{
    color: #ef7c3d;
    text-align: center;
    padding-top: 1rem;
    font-size: 3rem;
}
.contact-subheading{
    color: #f9ae86;
    text-align: center;
    font-size: 1.5rem;
}
.contact-form{
    
    max-width: 80rem;
    text-align: center;
    margin: 1rem auto;
}
.contact-name , .contact-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact-form input{
    color: black;
    height: 2rem;
    width: 46%;
}
.contact-message{
    color: black;
    resize: none;
    width: 95%;
}
.contact-form input ,.contact-message{
    padding: 1.5rem;
    font-size: 1rem;
    background: #fafdf2;
    border-radius: 0.6rem;
    margin: 0.7rem 0;
    box-shadow: 0 0.1rem 0.5rem #242433;
}
.contact-btn {
    padding: 1.2rem 2.8rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.5rem #242433;
    background: #f9ae86;
    letter-spacing: .1rem;
    transition: .4s ease-in;
    margin: 2rem 1rem;
    max-width: 240px;
    cursor: pointer;
    color: black;
    font-weight: 900;
}
.contact-btn:hover{
    font-size: 1rem;
}

.foot-part-one{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.foot-part-one h1{
    color: #242433;
}
.foot-links{
    margin-top: 2rem;
}
.foot-links a{
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #242433;
}